<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/style.css" />
</head>
<body>
</body>
</html>

<body>
<h1> Hello, welcome to the birthday app </h1>

<form action="/enter-birthday" method="get">
<input type="submit" value="Get Started"> 
</form> 
</body>