 <style>
body {background-color: pink;}
h1   {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; color: white; text-align: center;}
h2   {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; color: white; text-align: center;}
p    {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; color: white; text-align: center;}
label  {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; color: white; text-align: center;}

input[type=submit] {
  background-color: red;
  color: white;
  padding: 12px 12px;
  margin: 8px 0;
  border: 1pt;
  border-radius: 4px;
  cursor: pointer;
}
</style>
 
 <h1> Hello, welcome to the birthday app </h1>
